@import "~typeface-roboto/index.css";
@import "~vue-material/dist/vue-material.min.css";
@import "~vue-material/dist/theme/default.css";
@import "~material-icons-font/material-icons-font.css";

[v-cloak] {
    display: none;
}

body, .md-app {
    height: 100%;
}

.truncate, .truncate * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
